.app-container {
  background-color: white;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem 0;
}

@media screen and (max-width: 650px) {
  .app-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
