:root {
  --color-button: #0d6efd;
  --color-button-hover: #0d55fd;
  --color-button-cancel: #ffc107;
  --color-button-cancel-hover: #ffa407;
}

.form__container {
  min-width: 30rem;
  max-width: 50rem;
  background-color: white;
  padding: 1rem 1rem 0 1rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

@media screen and (max-width: 650px) {
  .form__container {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form__title {
  text-align: center;
}

.form__todo-title {
  margin-bottom: 1rem;
  font-family: "Quicksand", sans-serif, Helvetica, Arial;
}

.form__todo-description {
  margin-bottom: 1rem;
  font-family: "Quicksand", sans-serif, Helvetica, Arial;
  height: 6rem;
  resize: none;
}

.form__submit {
  margin: 0;
  border-color: var(--color-button);
  background-color: var(--color-button);
}

.form__submit:hover {
  border-color: var(--color-button-hover);
  background-color: var(--color-button-hover);
}

.form__button-cancel {
  margin: 0;
  margin-top: 1rem;
  color: black;
  border-color: var(--color-button-cancel);
  background-color: var(--color-button-cancel);
}

.form__button-cancel:hover {
  border-color: var(--color-button-cancel-hover);
  background-color: var(--color-button-cancel-hover);
}

.form__error {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  padding: 1rem;
  border: 1px solid red;
  color: red;
  background-color: lightpink;
  border-radius: 0.5rem;
}

.form__success {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  padding: 1rem;
  border: 1px solid green;
  color: green;
  background-color: lightgreen;
  border-radius: 0.5rem;
}
